<ul class="header__menu-ul">
  <li class="header__link">
    <a href="#">{{ 'nav.new_featured' | t }}</a>
  </li>
  <li class="header__link">
    <a href="{{ routes.collections_all_url }}">{{ 'nav.men' | t }}</a>
  </li>
  <li class="header__link">
    <a href="#">{{ 'nav.women' | t }}</a>
  </li>
  <li class="header__link">
    <a href="#">{{ 'nav.kids' | t }}</a>
  </li>
</ul>
