{{ 'custom-header.css' | asset_url | stylesheet_tag }}

<style>
    .header__cart {
      background-image: url({{'Cart_Icon.svg'|asset_url}});
    }

    .header__burger-menu {
      background-image: url({{'Frame.svg' | asset_url}});
    }

    @media (max-width: 656px) {
    .header__burger-menu.open {
      background-image: url({{'small-x.svg' | asset_url}});
    }
  }
</style>

<header class="header" role="banner">
  <div class="wrapper">
    <i
      class="header__burger-menu"
      role="button"
      aria-label="{{ 'a11y.open_menu' | t }}"
    ></i>

    <a href="{{ routes.root_url }}">
      <img
        class="header__logo"
        src="{{ 'Logo.svg' | asset_url }}"
        alt="{{ shop.name | escape }}"
        width="116"
        height="40"
        loading="lazy"
      >
    </a>

    <nav class="header__menu" aria-label="{{ 'a11y.main_nav' | t }}">
      {% render 'nav-main' %}
    </nav>

    <a
      href="{{ routes.cart_url }}"
      aria-label="{{ 'a11y.open_cart' | t }}"
    >
      <i class="header__cart"></i>
    </a>
  </div>
</header>

<script>
  document.querySelector('.header__burger-menu').addEventListener('click', (e) => {
    e.currentTarget.classList.toggle('open');
    document.querySelector('.header__menu').classList.toggle('open');
  });
</script>
