{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'product-recommendations.css' | asset_url | stylesheet_tag }}
<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
<script src="{{ 'product-recommendations.js' | asset_url }}" defer></script>

{% style %}
  .swiper-button-prev {
    left: 0;
    background-image: url("{{ 'Arrow-left.svg' | asset_url }}");
  }

  .swiper-button-next {
    right: 0;
    background-image: url("{{ 'Arrow-right.svg' | asset_url }}");
  }
{% endstyle %}

<section class="collection" data-section-id="{{ section.id }}">
  <div class="wrapper">
    {% if section.settings.heading != blank %}
      <h2 class="collection__header">{{ section.settings.heading }}</h2>
    {% endif %}

    <div class="swiper collection__swiper">
      {% assign first_product = collections[section.settings.collection].products.first %}
      <div
        class="swiper-wrapper collection__cards"
        data-product-id="{{ first_product.id }}"
        data-products-limit="{{ section.settings.products_limit }}"
      >
        {% comment %}
          {% assign products_list = collections[section.settings.collection].products %}
          {% for product in products_list %}
            {% assign variant = product.first_available_variant %}
            {% if variant %}
              <article class="swiper-slide collection__card">
                <a href="{{ product.url }}">
                  <img
                    class="collection__card-img"
                    src="{{ product.featured_image | img_url: '300x300' }}"
                    alt="{{ product.title | escape }}"
                    loading="lazy"
                    width="300"
                    height="300"
                  >
                  <div class="collection__card-info">
                    <h3 class="collection__card-name">{{ product.title }}</h3>
                    <span class="collection__card-price"> ${{ variant.price | divided_by: 100.0 | round: 2 }} </span>
                  </div>
                </a>
              </article>
            {% endif %}
          {% endfor %}
        {% endcomment %}
      </div>

      <div class="swiper-button-prev" aria-label="Previous slide"></div>
      <div class="swiper-button-next" aria-label="Next slide"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product Recommendations",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Select Collection"
    },
    {
      "type": "range",
      "id": "products_limit",
      "label": "Number of Products",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Product Recommendations",
      "category": "Products"
    }
  ]
}
{% endschema %}
