{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'product-recommendations.css' | asset_url | stylesheet_tag }}
<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
<script src="{{ 'product-recommendations.js' | asset_url }}" defer></script>

{% style %}
  .swiper-button-prev {
    left: 0px;
    background-image: url("{{ 'Arrow-left.svg' | asset_url }}");
  }

  .swiper-button-next {
    right: 0px;
    background-image: url("{{ 'Arrow-right.svg' | asset_url }}");
  }
{% endstyle %}

<section class="collection" data-section-id="{{ section.id }}">
  <div class="wrapper">
    {% if section.settings.heading != blank %}
      <h2 class="collection__header">{{ section.settings.heading }}</h2>
    {% endif %}

    <div class="swiper collection__swiper">
      <div class="swiper-wrapper collection__cards"></div>
      <div class="swiper-button-prev" aria-label="Previous slide"></div>
      <div class="swiper-button-next" aria-label="Next slide"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product Recommendations",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Select Collection"
    },
    {
      "type": "range",
      "id": "products_limit",
      "label": "Number of Products",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Product Recommendations",
      "category": "Products"
    }
  ]
}
{% endschema %}
